<extend name="Layout/ins_page" />
<block name="content">
    <script type="text/javascript">
        var save_data = [];//全局保存save函数调用的时候，需要用到参数
    </script>
    {:W('PageHeader/simple',array('name'=>'编辑 : '.$info['name']))}
    <div class="operate panel panel-default">
        <div class="panel-body">
            <div class="pull-left">
                <a onclick="javascript:window.history.back(-1);" class="btn btn-sm btn-primary">返回</a>

            </div>
            <div class="pull-right">
                <a onclick="save();"  class="btn btn-sm btn-primary">保存</a>
            </div>
        </div>
    </div>

    <form method='post' id="form_data" name="form_data" enctype="multipart/form-data" class="well form-horizontal">

        <input type="hidden" name="id" value="{$info.id}">


        <div class="form-group col-sm-6">
            <label class="col-sm-4 control-label" for="type">设备类型 :</label>
            <div class="col-sm-8">
                <select class="form-control" name="type" id="type" check="require" msg="请选择设备类型">
                    <option value="">--请选择设备类型--</option>
                    <volist name="data" id="data1">

                        <empty name="tid">
                            <option <if condition="$info['type'] eq $data1['id']">selected="selected"</if> value={$data1.id} >{$data1.html}{$data1.name}</option>
                         <else/>
                            <option <if condition="$tid eq $data1['id']">selected="selected"</if> value={$data1.id} >{$data1.html}{$data1.name}</option>

                        </empty>

                    </volist>
                </select>
            </div>
        </div>



        <div class="form-group col-sm-6">
            <label class="col-sm-6 control-label" for="islowvalue">是否低值易耗(设备属性):</label>
            <div class="col-sm-6">
                <select class="form-control"  name="islowvalue" id="islowvalue"  check="require" msg="请选择是否低值易耗">

                    <option  <if condition="$info['islowvalue'] eq 1">selected="selected"</if> value=1  >是</option>
                    <option  <if condition="$info['islowvalue'] eq 2">selected="selected"</if> value=2>否</option>
                </select>
            </div>
        </div>





        <div class="form-group  col-sm-6">
            <label class="col-sm-4 control-label" for="name">设备名称：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" id="name" name="name" value="{$info.name}" >
            </div>
        </div>

        <div class="form-group  col-sm-6">
            <label class="col-sm-4 control-label" for="name">设备品牌：</label>
            <div class="col-sm-8">
                <input class="form-control" type="text" id="brand"  name="brand"   value="{$info.brand}">
            </div>
        </div>




        <div class="form-group">
            <label class="col-sm-2 control-label" for="name">设备描述 :</label>
            <div class="col-sm-9">

                <if condition="$is_show eq 1">
                    <button class="btn btn-small btn-success" type="button" id="browse">导入</button>
                </if>

                 <textarea style="min-height: 200px;width: 100%; resize:none;" name="description" id="description">{$info['description']}</textarea>

            </div>

        </div>

        <div class="form-group">

                <label class="col-sm-2 control-label" for="name">数量 :</label>
                <div class="col-sm-9">
                    <input class="form-control" type="text" id="amount" name="amount" value="{$info.amount}" >
                </div>

        </div>
		
		<div class="form-group">

                <label class="col-sm-2 control-label" for="name">部门ID :</label>
                <div class="col-sm-9">
                    <input class="form-control" type="text" id="receive_deptid" name="receive_deptid" value="{$info.receive_deptid}" >
                </div>

        </div>
		
		<div class="form-group">

                <label class="col-sm-2 control-label" for="name">部门名称 :</label>
                <div class="col-sm-9">
                    <input class="form-control" type="text" id="receive_deptname" name="receive_deptname" value="{$info.receive_deptname}" >
                </div>

        </div>



        <div class="form-group">
            <label class="col-sm-2 control-label" for="name">备注:</label>
            <div class="col-sm-9">
                <input class="form-control" type="text" id="remarks" name="remarks" value="{$info.remarks}">
            </div>
        </div>


        <br>

    </form>

</block>

<block name="js">


    <script type="text/javascript" src="__INS__/js/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="__INS__/js/plugins/plupload/plupload.full.min.js"></script>
    <script type="text/javascript">
        $(function(){
            var id={$tid};

            //实例化一个plupload上传对象
            var uploader = new plupload.Uploader({
                browse_button: 'browse', //触发文件选择对话框的按钮，为那个元素id
                url: '{:U("Asset/import_device_info")}', //服务器端的上传页面地址
                flash_swf_url: '__INS__/js/plugins/plupload/Moxie.swf', //swf文件，当需要使用swf方式进行上传时需要配置该参数
                silverlight_xap_url: '__INS__/js/plugins/plupload/Moxie.xap', //silverlight文件，当需要使用silverlight方式进行上传时需要配置该参数
                multipart_params: {session_id: '<?php echo session_id(); ?>',styleid:1,tid:id}
            });
            //在实例对象上调用init()方法进行初始化
            uploader.init();
            //绑定各种事件，并在事件监听函数中做你想做的事
            uploader.bind('FilesAdded', function (uploader, files) {
                //每个事件监听函数都会传入一些很有用的参数，
                //我们可以利用这些参数提供的信息来做比如更新UI，提示上传进度等操作
                uploader.start();
            });
            uploader.bind('UploadProgress', function (uploader, file) {
                //每个事件监听函数都会传入一些很有用的参数，
                //我们可以利用这些参数提供的信息来做比如更新UI，提示上传进度等操作
            });
            uploader.bind('FileUploaded', function (up, file, data) {

                var arr_data = eval('(' + data.response + ')');//将json转换成数组

                if(data== "000"){
                    alert("请先选择上面设备分类");
                }else{
                    show_import(arr_data);
                }
            });


            //功能：显示导入数据
            function show_import(data){
                var html='';

                for(info in data) {
                    html += info+':'+data[info];
                }
                document.getElementById("description").value = html;
            }

        });
    </script>

    <script type="text/javascript">

        var id={$id};


        $("#type").change(function(){
           location.href="__ACTION__/tid/"+$("#type").val()+"/id/"+id;

        });


        function save() {
            sendForm("form_data","{:U('Asset/asset_bianji')}","{:U('Asset/index')}");
        }


        $(document).ready(function() {
            $pid = $("#id", parent.document).val();
            $("#pid").val($pid);
        });


    </script>

</block>