<p style="text-align: center;font-size: 24px;">{$flow_type['name']}申请单</p>
<!--新增模式-->                                    
<if condition="$on_edit eq add">
     
     <div class="form-group">
        <label class="col-sm-2 control-label" for="name">流程名称：</label>
        <div class="col-sm-9">
            <input class="form-control" type="text" id="name" name="name" value="{$vo.name}" check="require" msg="流程名称">
            <!-- <p class="text-warning">*（此栏须详细填写盖章的文件资料名称）</p> -->
        </div>
     </div>

     <div class="form-group col-sm-6">
        <label class="col-sm-4 control-label">{$data.0.name}<font color="#FF0000">*</font></label> 
        <div class="col-sm-8">
            <input class="form-control" readonly="readonly" type="text" name="udf_field_{$data.0.id}" id="udf_field_{$data.0.id}" value="<?php echo(get_user_name()) ?>">
        </div>
    </div>
    <div class="form-group col-sm-6">
        <label class="col-sm-4 control-label">{$data.1.name}<font color="#FF0000">*</font></label> 
        <div class="col-sm-8">
            <input class="form-control" readonly="readonly" type="text" name="udf_field_{$data.1.id}" id="udf_field_{$data.1.id}" value="<?php echo(get_dept_name()) ?>"  >
        </div>
    </div>
    
     
    <div class="form-group">
        <label class="col-sm-2 control-label" for="remark" >{$data.2.name}</label>
        <div class="col-sm-9" >
            <textarea class="form-control" name="udf_field_{$data.2.id}" id="udf_field_{$data.2.id}" rows="5" class="col-xs-12" ></textarea>
        </div>
    </div>
    
    <div class="form-group">
        <label class="col-sm-2 control-label" for="remark" >{$data.3.name}</label>
        <div class="col-sm-9" >
            <textarea class="form-control" name="udf_field_{$data.3.id}" id="udf_field_{$data.3.id}" rows="5" class="col-xs-12" ></textarea>
        </div>
    </div>

    
   
    <div class="form-group col-sm-6">
        <label class="col-sm-4 control-label">{$data.4.name}<font color="#FF0000">*</font></label> 
        <div class="col-sm-8">
            <input class="form-control" type="text" name="udf_field_{$data.4.id}" id="udf_field_{$data.4.id}" value="{$data.4.val}" >
        </div>
    </div>
    <div class="form-group col-sm-6">
        <label class="col-sm-4 control-label">{$data.5.name}</label>
        <div class="col-sm-8">
                <input class="form-control input-date" type="text" name="udf_field_{$data.5.id}" id="udf_field_{$data.5.id}" value="{$data.5.val}" >       
        </div>
    </div>
    <div class="form-group col-sm-6">
        <label class="col-sm-4 control-label">{$data.6.name}</label>
        <div class="col-sm-8">
                <input class="form-control input-date" type="text" name="udf_field_{$data.6.id}" id="udf_field_{$data.6.id}"  >       
        </div>
    </div>
    

    
    <div class="form-group col-sm-6">
        <label class="col-sm-4 control-label">{$data.7.name}</label>
        <div class="col-sm-8">
                <input class="form-control" type="text" name="udf_field_{$data.7.id}" id="udf_field_{$data.7.id}"  >       
        </div>
    </div>

    

     <div class="form-group col-sm-6">
        <label class="col-sm-4 control-label">{$data.8.name}<font color="#FF0000">*</font></label>
        <div class="col-sm-8">
                <select class="form-control" id="udf_field_{$data.8.id}" name="udf_field_{$data.8.id}"   check="require" onchange="getVal()">
                    <option value=''>请选择</option>
                    <option value='基本经费'  >基本经费</option>
                    <option value='项目经费'  >项目经费</option>
                    <option value='课题经费'  >课题经费</option>
                    <option value='专项经费'  >专项经费</option>
                    <option value='总站经费'  >总站经费</option>

                </select>
                
        </div>
        
    </div>

    <div class="form-group col-sm-6">
        <label class="col-sm-4 control-label">{$data.9.name}<font color="#FF0000">*</font></label>
        <div class="col-sm-8">
                <select class="form-control" id="udf_field_{$data.9.id}" name="udf_field_{$data.9.id}"   check="require" onchange="getKeti()">
                    

                </select>
                
        </div>
        
    </div>


    
   
<!--编辑模式-->
<elseif condition="$on_edit eq edit"/>
    <div class="form-group">
        <label class="col-sm-2 control-label" for="name">文件资料名称：</label>
        <div class="col-sm-9">
            <input  class="form-control" type="text" id="name" name="name" value="{$vo.name}" check="require" msg="文件资料名称">
            <p class="text-warning">*（此栏须详细填写盖章的文件资料名称）</p>
        </div>
     </div>
    
    
     <div class="form-group col-sm-6">
        <label class="col-sm-4 control-label">{$data.0.name}<font color="#FF0000">*</font></label> 
        <div class="col-sm-8">
            <input disabled="disabled" class="form-control" type="text" name="udf_field_{$data.0.id}" id="udf_field_{$data.0.id}" value="{$data.0.val}">
        </div>
    </div>
    <div class="form-group col-sm-6">
        <label class="col-sm-4 control-label">{$data.1.name}<font color="#FF0000">*</font></label> 
        <div class="col-sm-8">
            <input disabled="disabled" class="form-control" type="text" name="udf_field_{$data.1.id}" id="udf_field_{$data.1.id}" value="{$data.1.val}"  >
        </div>
    </div>
    
     
    <div class="form-group">
        <label class="col-sm-2 control-label" for="remark" >{$data.2.name}</label>
        <div class="col-sm-9" >
            <textarea  class="form-control" name="udf_field_{$data.2.id}" id="udf_field_{$data.2.id}" rows="5" class="col-xs-12" >{$data.2.val}</textarea>
        </div>
    </div>
    
    <div class="form-group">
        <label class="col-sm-2 control-label" for="remark" >{$data.3.name}</label>
        <div class="col-sm-9" >
            <textarea  class="form-control" name="udf_field_{$data.3.id}" id="udf_field_{$data.3.id}" rows="5" class="col-xs-12" >{$data.3.val}</textarea>
        </div>
    </div>

    
   
    <div class="form-group col-sm-6">
        <label class="col-sm-4 control-label">{$data.4.name}<font color="#FF0000">*</font></label> 
        <div class="col-sm-8">
            <input  class="form-control" type="text" name="udf_field_{$data.4.id}" id="udf_field_{$data.4.id}" value="{$data.4.val}" >
        </div>
    </div>
    <div class="form-group col-sm-6">
        <label class="col-sm-4 control-label">{$data.5.name}</label>
        <div class="col-sm-8">
                <input  class="form-control input-date" type="text" name="udf_field_{$data.5.id}" id="udf_field_{$data.5.id}" value="{$data.5.val}" >
        </div>
    </div>
    <div class="form-group col-sm-6">
        <label class="col-sm-4 control-label">{$data.6.name}</label>
        <div class="col-sm-8">
                <input  class="form-control input-date" type="text" name="udf_field_{$data.6.id}" id="udf_field_{$data.6.id}" value="{$data.6.val}" >       
        </div>
    </div>
    

    
    <div class="form-group col-sm-6">
        <label class="col-sm-4 control-label">{$data.7.name}</label>
        <div class="col-sm-8">
                <input  class="form-control" type="text" name="udf_field_{$data.7.id}" id="udf_field_{$data.7.id}" value="{$data.7.val}" >       
        </div>
    </div>

    

     <div class="form-group col-sm-6">
        <label class="col-sm-4 control-label">{$data.8.name}<font color="#FF0000">*</font></label>
        <div class="col-sm-8">
                <select onchange="getVal()" class="form-control" id="udf_field_{$data.8.id}" name="udf_field_{$data.8.id}"   check="require" >

                    
                    <option value='基本经费' <if condition="$data['8']['val'] eq '基本经费'">selected</if>>基本经费</option>
                    <option value='项目经费' <if condition="$data['8']['val'] eq '项目经费'">selected</if>>项目经费</option>
                    <option value='课题经费' <if condition="$data['8']['val'] eq '课题经费'">selected</if>>课题经费</option>
                    <option value='专项经费' <if condition="$data['8']['val'] eq '专项经费'">selected</if>>专项经费</option>
                    <option value='总站经费' <if condition="$data['8']['val'] eq '总站经费'">selected</if>>总站经费</option>


                </select>
                
        </div>
        
    </div>

    <div class="form-group col-sm-6">
        <label class="col-sm-4 control-label">{$data.9.name}<font color="#FF0000">*</font></label>
        <div class="col-sm-8">
                <select  class="form-control" id="udf_field_{$data.9.id}" name="udf_field_{$data.9.id}"   check="require">
                    <option value='{$data.9.val}'  >{$data.9.val}</option>

                </select>
                
        </div>
        
    </div>
    
<!--阅读模式-->
<else />
    <div class="form-group">
        <label class="col-sm-2 control-label" for="name">文件资料名称：</label>
        <div class="col-sm-9">
            <input disabled="disabled" class="form-control" type="text" id="name" name="name" value="{$vo.name}" check="require" msg="文件资料名称">
            <p class="text-warning">*（此栏须详细填写盖章的文件资料名称）</p>
        </div>
     </div>
    
    
     <div class="form-group col-sm-6">
        <label class="col-sm-4 control-label">{$data.0.name}<font color="#FF0000">*</font></label> 
        <div class="col-sm-8">
            <input disabled="disabled" class="form-control" type="text" name="udf_field_{$data.0.id}" id="udf_field_{$data.0.id}" value="{$data.0.val}">
        </div>
    </div>
    <div class="form-group col-sm-6">
        <label class="col-sm-4 control-label">{$data.1.name}<font color="#FF0000">*</font></label> 
        <div class="col-sm-8">
            <input disabled="disabled" class="form-control" type="text" name="udf_field_{$data.1.id}" id="udf_field_{$data.1.id}" value="{$data.1.val}"  >
        </div>
    </div>
    
     
    <div class="form-group">
        <label class="col-sm-2 control-label" for="remark" >{$data.2.name}</label>
        <div class="col-sm-9" >
            <textarea disabled="disabled" class="form-control" name="udf_field_{$data.2.id}" id="udf_field_{$data.2.id}" rows="5" class="col-xs-12" >{$data.2.val}</textarea>
        </div>
    </div>
    
    <div class="form-group">
        <label class="col-sm-2 control-label" for="remark" >{$data.3.name}</label>
        <div class="col-sm-9" >
            <textarea disabled="disabled" class="form-control" name="udf_field_{$data.3.id}" id="udf_field_{$data.3.id}" rows="5" class="col-xs-12" >{$data.3.val}</textarea>
        </div>
    </div>

    
   
    <div class="form-group col-sm-6">
        <label class="col-sm-4 control-label">{$data.4.name}<font color="#FF0000">*</font></label> 
        <div class="col-sm-8">
            <input disabled="disabled" class="form-control" type="text" name="udf_field_{$data.4.id}" id="udf_field_{$data.4.id}" value="{$data.4.val}" >
        </div>
    </div>
    <div class="form-group col-sm-6">
        <label class="col-sm-4 control-label">{$data.5.name}</label>
        <div class="col-sm-8">
                <input disabled="disabled" class="form-control input-date" type="text" name="udf_field_{$data.5.id}" id="udf_field_{$data.5.id}" value="{$data.5.val}" >
        </div>
    </div>
    <div class="form-group col-sm-6">
        <label class="col-sm-4 control-label">{$data.6.name}</label>
        <div class="col-sm-8">
                <input disabled="disabled" class="form-control input-date" type="text" name="udf_field_{$data.6.id}" id="udf_field_{$data.6.id}" value="{$data.6.val}" >       
        </div>
    </div>
    

    
    <div class="form-group col-sm-6">
        <label class="col-sm-4 control-label">{$data.7.name}</label>
        <div class="col-sm-8">
                <input disabled="disabled" class="form-control" type="text" name="udf_field_{$data.7.id}" id="udf_field_{$data.7.id}" value="{$data.7.val}" >       
        </div>
    </div>

    

     <div class="form-group col-sm-6">
        <label class="col-sm-4 control-label">{$data.8.name}<font color="#FF0000">*</font></label>
        <div class="col-sm-8">
                <select disabled="disabled" class="form-control" id="udf_field_{$data.8.id}" name="udf_field_{$data.8.id}"   check="require" >

                    
                    <option value='基本经费' <if condition="$data['8']['val'] eq '基本经费'">selected</if>>基本经费</option>
                    <option value='项目经费' <if condition="$data['8']['val'] eq '项目经费'">selected</if>>项目经费</option>
                    <option value='课题经费' <if condition="$data['8']['val'] eq '课题经费'">selected</if>>课题经费</option>
                    <option value='专项经费' <if condition="$data['8']['val'] eq '专项经费'">selected</if>>专项经费</option>
                    <option value='总站经费' <if condition="$data['8']['val'] eq '总站经费'">selected</if>>总站经费</option>


                </select>
                
        </div>
        
    </div>

    <div class="form-group col-sm-6">
        <label class="col-sm-4 control-label">{$data.9.name}<font color="#FF0000">*</font></label>
        <div class="col-sm-8">
                <select disabled="disabled" class="form-control" id="udf_field_{$data.9.id}" name="udf_field_{$data.9.id}"   check="require">
                    <option value='{$data.9.val}'  >{$data.9.val}</option>

                </select>
                
        </div>
        
    </div> 

</if>

<script type="text/javascript" src="__INS__/js/jquery-1.10.2.min.js"></script>
<script type="text/javascript" src="__INS__/js/plugins/plupload/plupload.full.min.js"></script>
<script type="text/javascript">
    var step = '{$vo.step}';//草稿是10，退回是19，审批是20，执行是30，完成是40,100是参阅
    var department_head_user_name = '{:get_department_head_user_name()}';
    var on_edit = '{$on_edit}';
    var refer_flow_log_id = '{$to_refer.id}';//如果这个值是大于0的话，表示是合同人员参阅这个模式
    var current_flow_log_step = '{$to_confirm.step}';//flow_log当前用户执行的step值是多少
   
    $(function(){
        //get_department_list();
        //init_data();
        //
        if(refer_flow_log_id > 0 ||  current_flow_log_step == 32)
        {
            
            $('.hidden-print .pull-right').append('<a onclick="changerealnum();" class="btn btn-sm btn-primary">保存</a>');//添加一个保存按钮
            //$('#view_file').remove();
            
            if(!$('#udf_field_341').attr("value")){
                $('#zhixing').remove();
                //alert('ok');
            }
        }
        if(refer_flow_log_id > 0 ||  current_flow_log_step >= 20){
            $('.panel-default .clearfix .pull-left').append('<button class="btn btn-sm btn-primary" onclick="send_massage();" type="button"><i class="fa fa-envelope"></i> 纸件报送通知</button>');//添加一个保存按钮 
        }
        
    });
    
    function check_gaizhang(){
        var yuancishu = $("#udf_field_340").val();//审批过的盖章次数        
        var shijishu = $("#udf_field_341").val(); //实际盖章次数
        //alert(yuancishu+'::'+shijishu);
        if(!isNaN(shijishu) && shijishu != ''){
            if(parseInt(yuancishu) >= parseInt(shijishu)){
                save();
            }else{               
               ui_error('实际盖章次数不能大于审批次数！');                 
            }
        }else{
            ui_error('实际盖章次数必须是数字！');
        }
        
    }

    function changenum(){
        // var m = Number(prompt("金额："));
        m = parseFloat($("#udf_field_356").val());
        m = floatMul(m,100);
        m = Math.floor(m);
        // alert(m);
        
        m += "";
        if(!isNaN(m)){
            var length = m.length;
            var unit = new Array("仟", "佰", "拾", "", "仟", "佰", "拾", "", "角", "分");
            var result = "";
            for (var i = 0; i < length; i++) {
                if (i == 2) {
                    result = "元" + result;
                } else if (i == 6) {
                    result = "万" + result;
                }
                if (m.charAt(length - i - 1) == 0) {
                    if (i != 0 && i != 1) {
                        if (result.charAt(0) != '零' && result.charAt(0) != '元' && result.charAt(0) != '万') {
                            result = "零" + result;
                        }
                    }
                    continue;
                }
                result = toDx(m.charAt(length - i - 1)) + unit[unit.length - i - 1] + result;
            }
            result += result.charAt(result.length - 1) == '元' ? "整" : "";
            // $("#udf_field_357").attr(result);
            $("#udf_field_357").attr("value",result);
        }else{
            $("#udf_field_357").attr("value",'');
        }
        
        // alert(m);

    }

    function toDx(n) {
        switch (n) {
            case "0":
                return "零";
            case "1":
                return "壹";
            case "2":
                return "贰";
            case "3":
                return "叁";
            case "4":
                return "肆";
            case "5":
                return "伍";
            case "6":
                return "陆";
            case "7":
                return "柒";
            case "8":
                return "捌";
            case "9":
                return "玖";
        }
    }

    function floatMul(arg1,arg2)   {     
        var m=0,s1=arg1.toString(),s2=arg2.toString();     
        try{m+=s1.split(".")[1].length}catch(e){}     
        try{m+=s2.split(".")[1].length}catch(e){}     
        return Number(s1.replace(".",""))*Number(s2.replace(".",""))/Math.pow(10,m);     
    }

    
    
    function send_massage()
    {
        //winopen("__ROOT__/index.php?m=&c=popup&a=sendmessage", 560, 370);
        winopen("{:U('popup/sendmessage',array('info'=>$vo))}",560, 370); 
    }

    //功能：初始化数据
    function init_data()
    {
        var temp, obj, i, html='', dis='';
        var digit = ['一', '二', '三', '四', '五', '六', '七', '八', '九', '十', '十一', '十二', '十三', '十四', '十五'];

        if(!(on_edit == 'add' || on_edit == 'edit'))
            dis = 'disabled';
        
        
    } 

    function getVal(){
            var ly = $("#udf_field_{$data.8.id}").val();
            var xz = $("#udf_field_{$data.9.id}");
            
            $("option",xz).remove(); //清空原有的选项，也可使用 ds_id.empty(); 
            var option = '';
            //xpgw.empty();
            if(ly=="基本经费"){

                option = "<option value='基本经费'>基本经费</option>";
                xz.append(option);
                var next_audit_name = '';
                save_data['next_audit_name'] = next_audit_name;
                
            }else if(ly=='项目经费'){
                $.ajax({
                type:'POST',
                data:'type='+ly,
                url:"{:U('Form/getform')}",
                cache:false,
                success: function(data){
                    if(data){
                        
                        xz.append(data);
                        var next_audit_name = '';
                        save_data['next_audit_name'] = next_audit_name;
                    }
                }
            });
            }else if(ly=='课题经费'){
                $.ajax({
                type:'POST',
                data:'type='+ly,
                url:"{:U('Form/getform')}",
                cache:false,
                success: function(data){
                    if(data){
                        xz.append(data);
                    }
                }
            });
                
            }else if(ly=='专项经费'){
                $.ajax({
                type:'POST',
                data:'type='+ly,
                url:"{:U('Form/getform')}",
                cache:false,
                success: function(data){
                    if(data){
                        // $("#receive_userid").html(data);
                        xz.append(data);
                        var next_audit_name = '';
                        save_data['next_audit_name'] = next_audit_name;
                        // window.console.log(data);
                        // alert(111);
                    }
                }
            });
            }else if(ly=='总站经费'){
                $.ajax({
                type:'POST',
                data:'type='+ly,
                url:"{:U('Form/getform')}",
                cache:false,
                success: function(data){
                    if(data){
                        // $("#receive_userid").html(data);
                        xz.append(data);
                        var next_audit_name = '';
                        save_data['next_audit_name'] = next_audit_name;
                    }
                }
            });
            
            
        }
    }

    function getKeti(){
        var ly = $("#udf_field_{$data.8.id}").val();
        var xz = $("#udf_field_{$data.9.id}").val();
        if(ly=='课题经费'){
            $.ajax({
                type:'POST',
                data:'keti='+xz,
                url:"{:U('Form/getketi')}",
                cache:false,
                success: function(data){
                    if(data){
                        var next_audit_name = data;
                        save_data['next_audit_name'] = next_audit_name;

                    }
                }
            });
        }

    }
   
</script>