<extend name="Layout/ins_page" />
<block name="content">
	
	
		<div class="ibox float-e-margins" gid="1">
			<div class="ibox-title">
				<h5 class="smaller">一键添加</h5>
			</div>
			<div class="ibox-content clearfix">
				<div class="space-8"></div>
				
						<div class="col-sm-3 col-xs-6 text-center">
							<a class="btn btn-info btn-block" href="{:U('User/add_education_data')}">一键添加学历</a>
							<div class="space-8"></div>
						</div>
						<div class="col-sm-3 col-xs-6 text-center">
							<a class="btn btn-info btn-block" href="{:U('User/add_zzeducation_data')}">一键添加在职学历</a>
							<div class="space-8"></div>
						</div>
						<div class="col-sm-3 col-xs-6 text-center">
							<a class="btn btn-info btn-block" href="{:U('User/add_train_data')}">一键添加培训经历</a>
							<div class="space-8"></div>
						</div>
						<div class="col-sm-3 col-xs-6 text-center">
							<a class="btn btn-info btn-block" href="{:U('User/add_assess_data')}">一键添加年度考核</a>
							<div class="space-8"></div>
						</div><p></p><br><br>
						<div class="col-sm-3 col-xs-6 text-center">
							<a class="btn btn-info btn-block" href="{:U('User/add_prize_data')}">一键添加获奖情况</a>
							<div class="space-8"></div>
						</div>
					
			</div>
		</div>
	
</block>
<block name="js">
	<script type="text/javascript">
		
	</script>
</block>
