<extend name="Layout/ins_base" />
<block name="content">
	<div class="x-content">
		<div class="frame">
			<div class="bit-1">
				<div style="margin-bottom:44px;margin-top:20px;">
					<h1 class="text-center" style="font-size: 36px;">{:get_system_config("system_name")} </h1>
					<h2 class="text-center" style="font-size: 30px;">微信绑定验证</h1>
				</div>
				<form method="post" id="form_login" class="form-horizontal">
					<input type="hidden" name="openid" value="{$openid}">
					<div class="layui-form-item">
						<label class="layui-form-label" for="emp_no">帐号：</label>
						<div class="layui-input-block">
							<input class="layui-input" id="emp_no" name="emp_no" check="require" msg="请输入帐号" />
						</div>
					</div>
					<div class="layui-form-item">
						<label class="layui-form-label" for="password">密码：</label>
						<div class="layui-input-block">
							<input class="layui-input" id="password" type="password" name="password" check="require" msg="请输入密码"/>
						</div>
					</div>
					<div class="layui-form-item hidden">
						<span class="control-label"></span>
						<div class="layui-input-block">
							<label class="inline pull-left col-3">
								<input class="ace" type="checkbox" name="id[]" value="{$vo.id}" />
								<span class="lbl"></span> </label>
							<label for="remember-me">记住我的登录状态</label>
						</div>
					</div>
					<div class="layui-form-item">
						<div class="layui-input-block">
							<div class="text-center">
								<input  type="submit" value="绑定" id="login" class="btn col-10">
							</div>
						</div>
					</div>
				</form>
				
			</div>
		</div>
		
	</div>
</block>
<block name="js">
	<script type="text/javascript">
		layui.use('global', function() {
			var $ = layui.jquery;

			$('#login').on('click', function() {
				send_form("form_login", "__SELF__");			
			}
		});
	</script>
</block>