<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$title|default=get_system_config("system_name")}</title>
		
		<link rel="stylesheet" href="Public/layui/css/layui.css"  media="all">
		<link rel="stylesheet" href="Public/layui/css/global.css" media="all">
		<link rel="stylesheet" href="Public/layui/css/lemonade.css" media="all">
		<link rel="stylesheet" href="Public/layui/font-awesome/css/font-awesome.min.css" media="all">
	</head>
	<include file="Layout:page_script"/>
	<body class="{$Think.CONTROLLER_NAME}">
		<block name="content"></block>
		<script src="Public/layui/layui.js" charset="utf-8"></script>
		<script src="Public/layui/common.js" charset="utf-8"></script>
		<script>
			layui.config({
				base : 'Public/layui/js/',
			}).extend({
					'moxie' : 'plugins/plupload/moxie',
					'plupload' : 'plugins/plupload/plupload',
					'moment' : 'plugins/fullcalendar/moment',
					'fullcalendar' : 'plugins/fullcalendar/fullcalendar',
					'tinymce' : 'plugins/tinymce/tinymce',
					'toastr':'plugins/toastr/toastr',
				});
		</script>
		<block name="js"></block>
	</body>
</html>
