<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{$title|default=get_system_config("system_name")}</title>
		<link href="__INS__/css/bootstrap.min.css" rel="stylesheet">
		<link href="__INS__/font-awesome/css/font-awesome.css" rel="stylesheet">
		<link href="__INS__/css/plugins/toastr/toastr.min.css" rel="stylesheet">

		<link href="__INS__/css/style.css" rel="stylesheet">
		<link href="__INS__/css/xiaowei.css" rel="stylesheet">
	</head>
	<include file="Layout:page_script"/>
	<style>
		.app-header {
			background: #03a9f4;
			color: #fff;
			line-height: 45px;
			font-size: 18px;
			text-align: center;
		}
		.app-header  .pull-left i {
			line-height: 45px;
			padding-left: 10px;
			padding-right: 10px;
		}
		.app-header  .pull-right i {
			line-height: 45px;
			padding-left: 10px;
			padding-right: 10px;
		}
		.app-footer {
			background: #fff;
			padding: 6px;
			border-top: 1px solid #e0e0e0;
			height: 34px;
			position: fixed;
			right: 0px;
			bottom: 0px;
			display: table;
			width: 100%;
		}
	</style>
	<body style="background: #fff;">
		<header class="app-header">
			<a class="pull-left"><i class="fa fa-angle-left" style="color: #FFFFFF;font-size:32px;" onclick="app_return();"></i></a>
			<a class="pull-right"><i class="fa fa-times" style="color: #FFFFFF;font-size:20px;" onclick="app_close();"></i></a>
			<div class="app-header-title">
				移动审批
			</div>
		</header>
<div class="ul_table ul_table_responsive">
    <ul>
        <li class="thead" style="padding-left:10px">
            <div class="pull-left">
                <span class="col-13 ">编号</span>
                <span class="col-13 ">类型</span>                
            </div>
            <div class="pull-right">
                <span  class="col-12">登录时间</span>                
                <span  class="col-6 "> 登录人</span>
                <span class="col-6 ">状态</span>
            </div>
            <div class="autocut auto">
                标题
            </div>
        </li>
    </ul>
    <empty name="list">
        <ul>
            <li class="no-data">
                没找到数据
            </li>
        </ul>
        <else/>
        <form method="post" action="" name="form_data" id="form_data">
            <ul>
                <foreach name="list" item="vo">
                    <li class="tbody <eq name='folder' value='receive'>{:get_flow_receive_is_read($vo['id'])}</eq>">
                        <div class="pull-left">
                            <span class="col-13 ">{$vo.doc_no}</span>
                            <span class="col-13  "> {$vo.type_name}</span>
                        </div>
                        <div class="pull-right">
                            <span class="col-12  "> {$vo.create_time|to_date='Y-m-d H:i'} </span>
                            <span class="col-6   ">{$vo.user_name}</span>
                            <span class="col-6   ">{$vo.step|show_step}</span>
                        </div>
                        <div class="autocut auto">
                            <in name="folder" value="darft">
                                <a href="{:U('edit','id='.$vo['id'].'&fid='.$folder)}">{$vo.name}
                                <else/>
                                <a href="{:U('read','id='.$vo['id'].'&fid='.$folder)}">{$vo.name}
                            </in>
                            <eq name="vo.name|strlen" value="0">
                                无标题
                            </eq></a> </div>
                    </li>
                </foreach>
            </ul>
        </form>
        <div class="pagination">
            {$page}
        </div>
    </empty>
</div>

		<!-- Mainly scripts -->
		<script src="__INS__/js/jquery-2.1.1.js"></script>
		<script src="__INS__/js/bootstrap.min.js"></script>
		<script src="__INS__/js/plugins/metisMenu/jquery.metisMenu.js"></script>
		<script src="__INS__/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>

		<!-- Custom and plugin javascript -->
		<script src="__INS__/js/inspinia.js"></script>
		<script src="__INS__/js/common.js"></script>
		<include file="Layout:ins_plugin_js"/>
	</body>
	<script>
		function app_close() {
			api.closeWin();
		}

		function app_return() {
			var return_url = get_cookie('return_url');
			if (return_url == null) {
				arr_return_url = [];
			} else {
				arr_return_url = return_url.split('$');
			}
			go_url = arr_return_url.pop();
			if (go_url == document.location) {
				if (arr_return_url.length == 0) {
					api.closeWin();
				}
				go_url = arr_return_url.pop();
			}
			window.open(go_url, "_self");
			set_cookie("return_url", arr_return_url.join('$'));
			return false;
		}
	</script>
</html>
